article{
    background: url("../img/background.jpeg") center/cover no-repeat;
    height: 98vh;
}

button{
    background-color: teal;
    color: yellow;
    border: 3px solid #333;
    border-radius: 10px;
    font-size: 35px;
    margin: 1vh 2vw;
}

button:active{
    background-color: purple;
}

div{
    margin-top: 60vh;
    height: 200px;
    width: 200px;
    background: url("../img/catwalk.gif") center/cover no-repeat;
    position: absolute;
}